crypto-spinner {
  div {
    margin: auto;
    width: 37px;
    height: 37px;

    /* The animation part: */
    animation-name: spin;
    animation-duration: 1400ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
  @keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
  }
}
