<div class="login-modal" (click)="hitLTBackdrop()">
  <div class="login-modal-body login-modal-bodytype" (click)="hitLTFordrop()">
    <div>
      <ion-list class="login-modal-body-type">
        <ion-row>
          <button ion-button color="warning" (click)="selection('login')">Login</button>
        </ion-row>
        <ion-row>
          <button ion-button color="warning" (click)="selection('createAccount')">Register</button>
        </ion-row>
        <ion-row>
          <button ion-button color="warning" (click)="selection('loginAnonymously')">Mine Anonymously</button>
        </ion-row>
      </ion-list>
    </div>
  </div>
</div>
