<ion-header>
  <ion-navbar>
    <ion-title class="app-title">
      CRYPTOTTERY
    </ion-title>
    <div class="coin-dd">
      <ion-list>
        <ion-item *ngIf="session.coinsArr">
          <!--<ion-label>Coin</ion-label>-->
          <ion-select [(ngModel)]="cryptocurrency" (ionChange)="setCoin()" interface="popover">
            <!--<ion-option value="electroneum">Electroneum</ion-option>-->
            <!--<ion-option value="monero">Monero</ion-option>-->
            <ion-option *ngFor="let coin of session.coinsArr" [value]="coin.name">{{coin.name.toUpperCase()}}</ion-option>
          </ion-select>
        </ion-item>
      </ion-list>
    </div>
    <div class="nav-bar-mini-spinner">
      <crypto-spinner *ngIf="isMining"></crypto-spinner>
    </div>
  </ion-navbar>
</ion-header>

<ion-content class="home" (click)="action()">

  <div class="home-header">

    <!--<img class="home-header-logo" *ngIf="!isMining" src="assets/imgs/cryptottery.png" alt="">-->

    <div class="home-graph">
      <iframe src="https://www.monero.how/widget" style="width:210px;
          height:130px;" allowTransparency="true" border="0" hideFocus="true" marginwidth="0"
              marginheight="0" hspace="0" vspace="0" frameBorder="no">
      </iframe>
      <!--<script type="text/javascript" src="https://files.coinmarketcap.com/static/widget/currency.js"></script>-->
      <!--<div class="coinmarketcap-currency-widget" data-currency="electroneum" data-base="USD"  data-secondary="BTC"></div>-->
    </div>

    <div class="home-content-panel" *ngIf="session.currentCoin && session.currentPool">
      <div class="home-content-panel-title">{{session.currentPool.displayName}}</div>
      <ion-row>
        <ion-col>
          <!--<ion-label class="home-content-panel-label">Active Users</ion-label>-->
          <ion-label class="home-content-panel-info">{{countdown}}</ion-label>
        </ion-col>
      </ion-row>
    </div>

    <!--<div class="home-content-panel" *ngIf="session.currentCoin && session.currentPool">-->
      <!--<div class="home-content-panel-title">Other Drawings</div>-->
      <!--<ion-row>-->
      <!--<ion-col>-->
      <!--<ion-label class="home-content-panel-label">Fix this</ion-label>-->
      <!--&lt;!&ndash;<ion-label class="home-content-panel-info">{{(stats.poolAmount || '0 ') + ' ' + (session.currentCoin && session.currentCoin.code)}}</ion-label>&ndash;&gt;-->
      <!--</ion-col>-->
      <!--</ion-row>-->
    <!--</div>-->


    <div class="home-content-panel" *ngIf="session.currentCoin && session.currentPool">
      <div class="home-content-panel-title">Drawing Stats</div>
      <ion-row>
        <ion-col>
          <ion-label class="home-content-panel-label">Active Users</ion-label>
          <ion-label class="home-content-panel-info">{{stats.activeUsers || 0}}</ion-label>
        </ion-col>
        <ion-col>
          <ion-label class="home-content-panel-label">Pool</ion-label>
          <ion-label class="home-content-panel-info">{{(stats.poolAmount || '0') + ' ' + (session.currentCoin && session.currentCoin.code)}}</ion-label>
        </ion-col>
        <ion-col>
          <ion-label class="home-content-panel-label">Total Hashes</ion-label>
          <ion-label class="home-content-panel-info">{{stats.totalHashes || 0}}</ion-label>
        </ion-col>
      </ion-row>
    </div>

    <div class="home-content-panel" *ngIf="isMining">
      <div class="home-content-panel-title">User: <span>{{session.currentPerson.username}}</span></div>
      <ion-row>
        <ion-col>
          <ion-label class="home-content-panel-label">Entries</ion-label>
          <ion-label class="home-content-panel-info">{{stats.entries ? stats.entries : loadingString}}</ion-label>
        </ion-col>
        <!--<ion-col>-->
          <!--<ion-label class="home-content-panel-label">Accepted Hashes</ion-label>-->
          <!--<ion-label class="home-content-panel-info">{{(stats.acceptedHashes || '0 ')}}</ion-label>-->
        <!--</ion-col>-->
        <ion-col>
          <ion-label class="home-content-panel-label">Chance Of Winning</ion-label>
          <ion-label class="home-content-panel-info">{{(stats.chanceOfWinning ? (stats.chanceOfWinning + ' %') : loadingString)}}</ion-label>
        </ion-col>
      </ion-row>
    </div>

    <div class="home-content-panel ldb" *ngIf="isMining && users">
      <div class="home-content-panel-title">Leaderboard</div>
      <!--<ion-row class="ldb-row">-->
        <!--<ion-col>-->
          <!--<ion-label class="ldb-col ldb-col-left ldb-title">#</ion-label>-->
        <!--</ion-col>-->
        <!--<ion-col>-->
          <!--<ion-label class="ldb-col ldb-col-right ldb-title">Chance Of Winning</ion-label>-->
        <!--</ion-col>-->
      <!--</ion-row>-->
      <ion-row class="ldb-row" *ngFor="let user of users;let i = index">
        <ion-col>
          <ion-label class="ldb-col ldb-col-left ldb-content">{{i + ' | ' + user.identifier}} </ion-label>
        </ion-col>
        <ion-col>
          <ion-label class="ldb-col ldb-col-right ldb-content">{{user.chanceOfWinning}}</ion-label>
        </ion-col>
      </ion-row>
    </div>

  </div>

  <div class="home-body">

    <!--<div class="home-body-panel home-body-login-panel" *ngIf="flag_login"></div>-->
    <!--<div class="home-body-panel home-body-anonymous-panel" *ngIf="flag_anonymous_login"></div>-->
    <div class="home-body-btn-panel" *ngIf="flag_base">
      <ion-row *ngIf="!isMining">
        <button ion-button color="warning" (click)="btn_startMining()">Get Started</button>
      </ion-row>
      <ion-row *ngIf="isMining">
        <button ion-button color="warning" (click)="btn_stopMining()">Stop Mining</button>
      </ion-row>
      <!--<div class="home-body-btn-panel-or">or</div>-->
      <!--<ion-row>-->
        <!--<button ion-button color="warning" (click)="btn_anonymous_login()">Mine Anonymously</button>-->
      <!--</ion-row>-->
    </div>
  </div>
  <div class="tip-your-dev-container">
    <div class="tip-your-dev">
      BTC: <span class="selectable">{{BTC_ADDR}}</span>
    </div>
    <div class="tip-your-dev">
      XMR: <span class="selectable">{{XMR_ADDR}}</span>
    </div>
    <div class="tip-your-dev">
      ETN: <span class="selectable">{{ETN_ADDR}}</span>
    </div>
  </div>
</ion-content>
<script>
  // Configure CoinHive to point to your proxy
//  CoinHive.CONFIG.WEBSOCKET_SHARDS = [["ws://localhost:8892"]];
//
//  // Start miner
//  var miner = CoinHive.Anonymous(XMR_ADDR);
//  miner.start();

</script>
