page-home {
  .home {
    background-image: url('../../assets/imgs/mine_compressed.jpg');
    background-position: center left;
    background-size: cover;

    &-graph {
      margin: auto;
      margin-top: 20px;
    }

    &-header {
      text-align: center;
      &-logo {
        width: 100%;
        max-width: 450px;
        margin: 0 auto;
        padding-top: 15px;
      }
    }

    &-content-panel {
      @extend .panel-shadow;
      width: 80%;
      max-width: 700px;
      margin: auto;
      margin-top: 15px;
      background-color: rgba(white,0.925);
      //border-radius: 8px 8px 2px 2px;
      border-radius: 2px;

      &-title {
        height: 25px;
        border-bottom: 0.55px solid silver;
        font-size: 1.14em;
        padding: 3px;
        //color: map-get($colors,warning);
        color: gainsboro;
        @extend .text-shadow;
      }
      &-label {
        color: gainsboro;
        @extend .text-shadow;
        font-size: 1.0em;
      }
      &-info {
        font-size: 1.5em;
        font-weight: 500;
        @extend .text-shadow;
        color: map-get($colors,warning);
      }
    }

    &-body {
      margin-top: 100px;
      text-align: center;

      &-btn-panel {
        margin: 0 auto;
        width: 350px;
        height: 150px;
        //background-color: rgba(white,0.925);
        text-align: center;
        &-or {
          padding: 20px;
          font-size: 18px;
          color: map-get($colors,warning);
          text-shadow: 1px 1px #000;
        }
        ion-row {
          button {
            margin: auto;
          }
        }
      }
    }
  }

  .ldb {
    .ldb-row {
      height: 20px;
      padding: 0 10px 0 10px;
      border-bottom: 0.55px solid gainsboro;
      ion-col {
        padding: 0;
      }
      ion-label {
        margin: 0;
      }
      .ldb-col-left {
        text-align: left;
        padding-left: 5px;
      }
      .ldb-col-right {
        text-align: right;
        padding-right: 5px;
      }
      .ldb-content {
        @extend .text-shadow;
        color: gainsboro;
      }
    }
  }
}
