// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.app-title {
  text-shadow: 1px 1px rgba(black,0.5);
  .toolbar-title-md {
    color: gainsboro;
    //color: map-get($colors,warning) !important;
  }
}

ion-nav {
  background-color: black;
}

ion-content {
  max-width: 1200px;
  //margin: 0 auto;
  left: 50%;
  transform: translateX(-50%);
}

.coin-dd {
  width: 160px;
  margin: 0 auto;
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  ion-select {
    max-width: 100%;
    width: 100%;
    color: map-get($colors,warning);
    text-shadow: 1px 1px rgba(black,0.5);
  }
  .item-md {
    background-color: transparent;
  }
}

.nav-bar-mini-spinner {
  position: absolute;
  top: 10px;
  right: 40px;
  crypto-spinner{
    width: 50px !important;
    height: 50px !important;
  }
}

.tip-your-dev-container {
  position:fixed;
  bottom: 10px;
  text-align: center;
  width: 100%;

  .tip-your-dev {
    font-size: 12px;
    color: map-get($colors,warning);
    text-shadow: 1px 1px rgba(black,0.5);
    font-weight: 700;
    span {
      font-size: 11px;
      font-weight: 400;
    }
  }
}

.modal-wrapper {
  background: transparent;
  box-shadow: none !important;
  moz-box-shadow: none !important;
}

.text-shadow {
  text-shadow: 1px 1px rgba(black,0.5);
}

.panel-shadow {
  -webkit-box-shadow: 6px 7px 17px 1px rgba(0,0,0,0.44);
  -moz-box-shadow: 6px 7px 17px 1px rgba(0,0,0,0.44);
  box-shadow: 6px 7px 17px 1px rgba(0,0,0,0.44);
}

.selectable {
  //-webkit-user-select: all;  /* Chrome all / Safari all */
  //-moz-user-select: all;     /* Firefox all */
  //-ms-user-select: all;      /* IE 10+ */
  //user-select: all;
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}
