<div class="register-modal" (click)="hitRBackdrop()">
  <div class="register-modal-body" (click)="hitRFordrop()">
    <div>
      <ion-list>

        <ion-item>
          <ion-label floating>Username</ion-label>
          <ion-input type="text" [(ngModel)]="username"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label floating>Email (optional)</ion-label>
          <ion-input type="text" [(ngModel)]="email"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label floating>Password</ion-label>
          <ion-input [type]="viewPass ? 'text' : 'password'" [(ngModel)]="password"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label floating>Electroneum Wallet</ion-label>
          <ion-input type="text" [(ngModel)]="electroneumWallet"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label floating>Monero Wallet</ion-label>
          <ion-input type="text" [(ngModel)]="moneroWallet"></ion-input>
        </ion-item>

        <ion-row>
          <ion-col col-6>

            <ion-item class="register-modal-body-cb">
              <ion-label>Show Password</ion-label>
              <ion-checkbox color="dark" [(ngModel)]="viewPass"></ion-checkbox>
            </ion-item>

          </ion-col>
          <ion-col col-6>

            <ion-item class="register-modal-body-cb">
              <ion-label>Remember Me</ion-label>
              <ion-checkbox color="dark" [(ngModel)]="rememberMe"></ion-checkbox>
            </ion-item>

          </ion-col>
        </ion-row>

        <ion-item class="register-modal-body-cb">
          <ion-label>I agree to the Terms of Service</ion-label>
          <ion-checkbox color="dark" [(ngModel)]="tos"></ion-checkbox>
        </ion-item>

        <ion-item class="register-modal-body-cb">
          <ion-label>I am at least 21 years of age</ion-label>
          <ion-checkbox color="dark" [(ngModel)]="twentyOne"></ion-checkbox>
        </ion-item>

        <br>
        <br>

        <div>
          <button ion-button color="warning" (click)="register()">Register</button>
        </div>
        <!--<div class="register-modal-body-ca">-->
          <!--<button ion-button clear color="warning" (click)="createAccount()">-->
            <!--Don't have an account? Create one-->
          <!--</button>-->
        <!--</div>-->
      </ion-list>
    </div>
  </div>
</div>
