anonymous {

  .anonymous-modal {
    width: 100%;
    margin: auto;
    //background-color: rgba(black,0.5);
    height: 100%;

    &-body {
      width: 400px;
      height: 320px;
      margin: 0 auto;
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      //background-color: map-get($colors,warning);
      //background-color: white;
      background-color: rgba(white,0.925);
      border-radius: 20px;
      padding: 20px;
      text-align: center;
      .item-md {
        background-color: transparent;
      }
      .item-block {
        min-height: 25px;
      }
      ion-col {
        padding: 0;
        padding-top: 10px;
      }
      &-cb {
        height: 25px;
        font-size: 12.5px;
        .item-inner {
          border-bottom: 0 !important;
        }
        .checkbox-md {
          margin-right: 10px !important;
        }
      }
      &-ca {
        padding-top: 10px;
        button {
          text-shadow: 1px 1px rgba(black,0.5);
        }
      }
    }
  }

}
