<div class="anonymous-modal" (click)="hitABackdrop()">
  <div class="anonymous-modal-body" (click)="hitAFordrop()">
    <div>
      <ion-list>

        <ion-item>
          <ion-label floating>Electroneum Wallet</ion-label>
          <ion-input type="text" [(ngModel)]="electroneumWallet"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label floating>Monero Wallet</ion-label>
          <ion-input type="text" [(ngModel)]="moneroWallet"></ion-input>
        </ion-item>
        <br>

        <ion-item class="anonymous-modal-body-cb">
          <ion-label>I agree to the Terms of Service</ion-label>
          <ion-checkbox color="dark" [(ngModel)]="tos"></ion-checkbox>
        </ion-item>

        <ion-item class="anonymous-modal-body-cb">
          <ion-label>I am at least 21 years of age</ion-label>
          <ion-checkbox color="dark" [(ngModel)]="twentyOne"></ion-checkbox>
        </ion-item>

        <br>
        <br>

        <div>
          <button ion-button color="warning" (click)="anonymousRegister()">Submit</button>
        </div>
        <!--<div class="register-modal-body-ca">-->
        <!--<button ion-button clear color="warning" (click)="createAccount()">-->
        <!--Don't have an account? Create one-->
        <!--</button>-->
        <!--</div>-->
      </ion-list>
    </div>
  </div>
</div>
