<div class="login-modal" (click)="hitLBackdrop()">
  <div class="login-modal-body" (click)="hitLFordrop()">
    <div>
      <ion-list>

        <ion-item>
          <ion-label floating>Username</ion-label>
          <ion-input type="text" [(ngModel)]="username"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label floating>Password</ion-label>
          <ion-input [type]="viewPass ? 'text' : 'password'" [(ngModel)]="password"></ion-input>
        </ion-item>

        <ion-row>
          <ion-col col-6>

            <ion-item class="login-modal-body-cb">
              <ion-label>Show Password</ion-label>
              <ion-checkbox color="dark" [(ngModel)]="viewPass"></ion-checkbox>
            </ion-item>

          </ion-col>
          <ion-col col-6>

            <ion-item class="login-modal-body-cb">
              <ion-label>Remember Me</ion-label>
              <ion-checkbox color="dark" [(ngModel)]="rememberMe"></ion-checkbox>
            </ion-item>

          </ion-col>
        </ion-row>


        <br>
        <br>

        <div>
          <button ion-button color="warning" (click)="loginL()">Login</button>
        </div>
        <div class="login-modal-body-ca">
          <button ion-button clear color="warning" (click)="createAccount()">
            Don't have an account? Create one
          </button>
        </div>
      </ion-list>
    </div>
  </div>
</div>
